<section class="estudios mb-5 bg-white">
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let element of progres">
                <div class="text-center element">
                    <div class="div"> <img src={{element.url}} alt="" class="logo"></div>
                    <p>{{element.nombre}}</p>
                    <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                        style="--value:{{element.porcentaje}}">
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>