<div class="container-fluid a">
    <div class="row">
        <img src="../../assets/img/scene_bg.jpg" alt="" class="b">

        <div class="col-12 ">
            <h1 class="bannerLetras">miPortfolioWeb<span class="colorf">()</span>: <span class="colorv"> void</span> ; </h1>
            <p>Hola soy <span class="ltam">Luis Cardinali</span>, Programador</p>
        </div>
        <div class="col-12 ">
            <div class="contenedor">
                <div class="caja1"></div>
                <div class="caja2"></div>
            </div>
        </div>

        <div class="col-12">
            <p class="subtitulo">Full Stack Developer Training <br>Buenos Aires(Argentina)</p>
        </div>

    </div>
</div>