<app-navbar></app-navbar>
<app-banner></app-banner>








<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="row">
        <div class="comtainer x">
            <div class="caja1 y text-center">
        
                <img src="../assets/img/UC_logo.png" alt="" class="logo">
        
                <h4 style="text-align:left ;margin-left: 15px; "  class="mt-3">institucion:</h4>
                <h5>Universidad de carabobo</h5>
                <h4 style="text-align:left ;margin-left: 15px; ">Carrera:</h4>
                <h5>Contaduria Publica</h5>
                <h4 style="text-align:left ;margin-left: 15px; ">Estado:</h4>
        <p>7mo semestre sin culminar</p> 
            </div>
        </div>

        <div class="comtainer x">
            <div class="caja1 y text-center">
        
                <img src="../assets/img/UC_logo.png" alt="" class="logo">
        
                <h4 style="text-align:left ;margin-left: 15px; "  class="mt-3">institucion:</h4>
                <h5>Universidad de carabobo</h5>
                <h4 style="text-align:left ;margin-left: 15px; ">Carrera:</h4>
                <h5>Contaduria Publica</h5>
                <h4 style="text-align:left ;margin-left: 15px; ">Estado:</h4>
        <p>7mo semestre sin culminar</p> 
            </div>
        </div>


    </div>

      </div>
      <div class="carousel-item">
        <div class="comtainer x">
            <div class="caja1 y text-center">
        
                <img src="../assets/img/UC_logo.png" alt="" class="logo">
        
                <h4 style="text-align:left ;margin-left: 15px; "  class="mt-3">institucion:</h4>
                <h5>Universidad de carabobo</h5>
                <h4 style="text-align:left ;margin-left: 15px; ">Carrera:</h4>
                <h5>Contaduria Publica</h5>
                <h4 style="text-align:left ;margin-left: 15px; ">Estado:</h4>
        <p>7mo semestre sin culminar</p> 
            </div>
        </div>      </div>
      <div class="carousel-item">
        <div class="comtainer x">
            <div class="caja1 y text-center">
        
                <img src="../assets/img/UC_logo.png" alt="" class="logo">
        
                <h4 style="text-align:left ;margin-left: 15px; "  class="mt-3">institucion:</h4>
                <h5>Universidad de carabobo</h5>
                <h4 style="text-align:left ;margin-left: 15px; ">Carrera:</h4>
                <h5>Contaduria Publica</h5>
                <h4 style="text-align:left ;margin-left: 15px; ">Estado:</h4>
        <p>7mo semestre sin culminar</p> 
            </div>
        </div>      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>














