

<section class="estudios mb-5 bg-white">
<div class="container">  
  <owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide *ngFor="let estudio of estudios">
      <div class="x">
        <div class="caja1 y">
          <div class="logoc">  <img src={{estudio.logo}} alt="" class="logo"></div>
          <span class="categoria">Institucion:</span>   
          <span>{{estudio.instituto}} </span>   
          
          <span class="categoria">Carrera/curso:</span>   
          <span>{{estudio.carrera}} </span> 

          <span class="categoria">Titulo/Estado:</span>   
          <span>{{estudio.Estado}} </span> 
        </div>
      </div>
    </ng-template>

    

  </owl-carousel-o>  

</div>
</section>

